{% if f %}
  {% include "new_opt_in_form" %}
{% else %}
  {% if editor %}
    <div class="editor-null" kjb-settings-id="{{ 'form' | settings_id: section: section }}">
      <h5>Heads up! You have not selected a form yet.</h5>
    </div>
  {% endif %}
{% endif %}
